//
// bigdata.scss
//

.square {
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: -1;
}

.dia-top-left-bottom-right:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;

    top: 0;
    left: 0;
    background: linear-gradient(
        to top right,
        transparent calc(50% - 2px),
        black,
        transparent calc(50% + 2px)
    );
}

.dia-top-right-bottom-left:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
        to top left,
        transparent calc(50% - 2px),
        black,
        transparent calc(50% + 2px)
    );
}

#dashboard-fixed-wrapper {
    background-image: url("/public/images/bg-dashboard.jpg");
    background-size: cover;
    background-position: center;
    max-width: 100vw; /* Ensures it doesn't exceed viewport */
}

#dashboard-fixed-wrapper::before {
    content: "";
    position: absolute;
    pointer-events: none; /* Prevents the overlay from blocking interaction */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
        255,
        255,
        255,
        0.7
    ); /* Black overlay with 50% opacity */
}

#dashboard-fixed-container {
    min-width: 1110px;
    max-width: unset; /* Allow it to grow if needed */
}

@media (max-width: 768px) {
    #dashboard-fixed-container {
        transform: scale(0.8); /* Adjust the scale as needed */
    }
}
