//
// custom_circle.scss
//

.custom-circle-wrapper {
    width: 100px; // Default width
    height: 100px; // Default height
    border: 4px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 44, 124);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efek bayangan */
    text-align: center;

    &.large {
        width: 150px;
        height: 150px;
    }

    &.very-large {
        width: 250px;
        height: 250px;
    }

    &.medium {
        width: 200px;
        height: 200px;
    }

    &.small {
        width: 95px;
        height: 95px;
    }
}

.custom-circle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-circle-text {
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 0;
    margin: 0;
}

.custom-circle-data {
    font-size: 12px;
    color: white;
    background-color: #f0195b;
    padding: 0 5px;
    border-radius: 3px;
}

.custom-circle-data-type {
    font-size: 12px;
    color: white;
}
